
.icon-menu:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-linkedin:before { content: '\e805'; } /* '' */
.icon-up-open:before { content: '\e806'; } /* '' */
.icon-arrow-combo:before { content: '\e807'; } /* '' */
.icon-youtube:before { content: '\e808'; } /* '' */
.icon-github:before { content: '\e809'; } /* '' */